.section1 {
  background: rgb(15, 44, 77);
  background: linear-gradient(
    180deg,
    rgba(15, 44, 77, 1) 0%,
    rgba(5, 42, 72, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.section1 .headerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  line-height: 8vw;
}

.section1 .headerContainer .headerText {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10vw;
  color: #ffffff;
}
