.section1 {
  background: rgb(15, 44, 77);
  background: linear-gradient(
    180deg,
    rgba(15, 44, 77, 1) 0%,
    rgba(5, 42, 72, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  padding: 15vw 3vw 3vw 3vw;
}

.section1 .headerContainer {
  text-align: center;
  width: 100%;
  line-height: 8vw;
}

.section1 .headerContainer h1 {
  padding: 0;
  margin: 0;
}

.section1 .headerContainer .headerText {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 10vw;
  color: #ffffff;
}

.section1 .evenWrapper {
  margin-top: 5vw;
}

.section1 .evenWrapper .eventCategory {
  color: #ffffff;
  font-size: 2.5vw;
  font-weight: 300;
  box-sizing: border-box;
}

.section1 .evenWrapper .eventContainer .eventBox {
  box-sizing: border-box;
}

.section1 .evenWrapper .eventContainer .eventBox:nth-child(odd) {
  padding-right: 2.5%;
}

.section1 .evenWrapper .eventContainer .eventBox:nth-child(even) {
  padding-left: 2.5%;
}

.section1 .evenWrapper .eventContainer .eventBox .eventImg img {
  width: 100%;
  height: 18vw;
  object-fit: cover;
  object-position: center;
  border-radius: 2vw;
  border: 0.1vw solid #ffffff;
}

.section1 .evenWrapper .eventContainer .eventBox .eventHeader {
  display: flex;
  align-items: center;
  margin-top: 1vw;
}

.section1 .evenWrapper .eventContainer .eventBox .eventHeader .leftBox {
  width: 75%;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .eventHeader
  .leftBox
  .eventTitle {
  font-size: 2.5vw;
  font-weight: 700;
  color: #ffffff;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .eventHeader
  .leftBox
  .eventSubTitle {
  font-size: 1vw;
  font-weight: 300;
  color: #ffffff;
}

.section1 .evenWrapper .eventContainer .eventBox .eventHeader .rightBox {
  width: 25%;
  font-size: 1.75vw;
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}

.section1 .evenWrapper .eventContainer .eventBox .eventDetailsWrapper {
  display: flex;
  margin-top: 1vw;
}

.section1 .evenWrapper .eventContainer .eventBox .eventDetailsWrapper .leftBox {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .eventDetailsWrapper
  .leftBox
  .eventDetailsBox {
  width: 50%;
  display: flex;
  margin-bottom: 1vw;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .eventDetailsWrapper
  .leftBox
  .eventDetailsBox
  .detailsIcon {
  width: 7.5%;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .eventDetailsWrapper
  .leftBox
  .eventDetailsBox
  .detailsIcon
  img {
  width: 1.5vw;
  height: 1.5vw;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .eventDetailsWrapper
  .leftBox
  .eventDetailsBox
  .detailsValue {
  width: 92.5%;
  font-size: 1.2vw;
  font-weight: 600;
  color: #ffffff;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .eventDetailsWrapper
  .rightBox {
  width: 30%;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .eventDetailsWrapper
  .rightBox
  .entry {
  color: #fff;
  font-size: 1.75vw;
  font-weight: 600;
  text-align: right;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .eventDetailsWrapper
  .rightBox
  .price {
  color: #fff;
  font-size: 3vw;
  font-weight: 700;
  text-align: right;
}

.section1 .evenWrapper .eventContainer .eventBox .briefLabel {
  color: #fff;
  font-size: 2vw;
  font-weight: 700;
  margin-top: 1vw;
}

.section1 .evenWrapper .eventContainer .eventBox .briefDescription {
  color: #fff;
  font-size: 1vw;
  font-weight: 300;
  width: 70%;
  margin-top: 0.5vw;
}

.section1 .evenWrapper .eventContainer .eventBox .artistLabel {
  color: #fff;
  font-size: 2vw;
  font-weight: 700;
  margin-top: 1vw;
}

.section1 .evenWrapper .eventContainer .eventBox .artistContainer {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.section1 .evenWrapper .eventContainer .eventBox .artistContainer .artistBox {
  width: 25%;
  padding-right: 2%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 3vw;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .artistContainer
  .artistBox
  img {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .artistContainer
  .artistBox
  .artistName {
  color: #fff;
  font-size: 1.3vw;
  font-weight: 700;
  margin-top: 1vw;
}

.section1
  .evenWrapper
  .eventContainer
  .eventBox
  .artistContainer
  .artistBox
  .artistDetails {
  color: #fff;
  font-size: 1vw;
  font-weight: 300;
  margin-top: 1vw;
}

.section1 .evenWrapper .eventContainer .eventBox .foodLabel {
  color: #fff;
  font-size: 2vw;
  font-weight: 700;
  margin-top: 2vw;
}

.section1 .evenWrapper .eventContainer .eventBox .foodTagContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vw;
}

.section1 .evenWrapper .eventContainer .eventBox .foodTagContainer .foodTag {
  border: 0.1vw solid #ffffff;
  color: #ffffff;
  font-size: 1.25vw;
  border-radius: 2vw;
  padding: 0.75vw 1.5vw;
  box-sizing: border-box;
  margin-right: 1vw;
  font-weight: 600;
  margin-bottom: 1vw;
}

.section1 .evenWrapper .eventContainer .eventBox .eventActionContainer {
  display: flex;
  margin-top: 2vw;
}

.section1 .evenWrapper .eventContainer .eventBox .eventActionContainer button {
  background-color: #2144ff;
  color: #fff;
  border: none;
  padding: 0.75vw 1.5vw;
  box-sizing: border-box;
  margin-right: 1vw;
  border-radius: 0.5vw;
  font-size: 1vw;
  font-weight: 600;
  cursor: pointer;
}
