body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "Tapas";
  src: url("../../public/fonts/Tapas-Sans.woff2") format("woff2"),
    url("../../public/fonts/Tapas-Sans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  height: 14.5vw;
  overflow-y: scroll;
}
